<div class="contact">
  <p style="font-weight: 600;">Contact me for help building your website</p>
  <p>
    <a href="sms:+17757718672"><img src="website/images/phone-svgrepo-com.svg" alt="phone number" class="icon"> (775)771-8672</a>
     &emsp; 
    <a href="https://www.linkedin.com/in/matthew-smallhouse/"><img src="website/images/linkedin-rounded-border-svgrepo-com.svg" alt="LinkedIn logo" class="smaller-icon"> LinkedIn</a>
    <span class="media-icon-spacing"> &emsp; </span>
    <br class="media-line-break">
    <a href="mailto:matthewsmallhouse@gmail.com"><img src="website/images/email-1-svgrepo-com.svg" alt="email address" class="icon"> matthewsmallhouse@gmail.com</a>
  </p>
</div>