<link rel="preload" href="https://hsa35mz4zsbu6nqwlb5jvkk4o40jruqd.lambda-url.us-east-2.on.aws/?url=preload" as="fetch" crossorigin="anonymous" fetchpriority="high">
<!-- Google analytics tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MPPN8PSV80"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MPPN8PSV80');
</script>
<meta name="google-site-verification" content="rSAFqSfOXc1cpOdcNok5LbrcBkTMQPYj-BmNKjvDCtE" />
<meta charset="UTF-8">
<meta name="description" content="Calculate FIS point results for races live, as they happen. Just copy and pase the livetiming url.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FIS/USSA Points Calculator</title>
<link rel="icon" type="image/x-icon" href="website/images/fis-calculator-favicon.svg">
<script src="website/app.js" defer></script>
<link rel="stylesheet" href="website/styles.css">
<link rel="cannonical" href="https://www.fiscalculator.com">
<meta property="og:title" content="FIS/USSA Points Calculator">
<meta property="og:description" content = "Calculate FIS point results for races live, as they happen. Just copy and pase the livetiming url.">
<meta property="og:url" content="https://www.fiscalculator.com/">
<meta property="og:image" content="/website/images/fis-calculator-favicon.png">
<meta name="twitter:title" content="FIS/USSA Points Calculator">
<meta name="twitter:description" content="Calculate FIS point results for races live, as they happen. Just copy and pase the livetiming url.">
<meta name="twitter:image" content="/website/images/fis-calculator-favicon.png">
<!-- Adense site verification -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8361932805710998"
  crossorigin="anonymous"></script>
<script data-grow-initializer="">!(function(){window.growMe||((window.growMe=function(e){window.growMe._.push(e);}),(window.growMe._=[]));var e=document.createElement("script");(e.type="text/javascript"),(e.src="https://faves.grow.me/main.js"),(e.defer=!0),e.setAttribute("data-grow-faves-site-id","U2l0ZTphNDliZTBlMC01MmM2LTRkZGQtOTIwNi0zZGM5ODJhYjQ3OGE=");var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t);})();</script>
<!-- Exoic site verification -->
<meta name="ezoic-site-verification" content="dvCRD1s1zt0KQhEwzKD9PXkry4wrXF" />